@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 20px;
  grid-template-areas: "";
}

.header {
}

.main {
}

.sidebar {
}

.footer {
}

@media (max-width: 700px) {
}
