@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  grid-template-rows: repeat(3, 150px);
  border: 1px solid;
  height: 500px;
  /* justify-items: center;
  align-items: start; */
  /* justify-content: space-around;
  align-content: end; */
}

.item-4 {
  justify-self: start;
  align-self: start;
}
